@ichiba:registry=http://10.29.38.42:8081/repository/ichiba-npm-core-ui/
registry=https://registry.npmjs.org/
strict-ssl=false
//10.29.38.42:8081/repository/ichiba-npm-core-ui/:_authToken=NpmToken.4fc94f40-5082-3028-8857-db18c5a5a258